  <ul>
    <% article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <%= form_with(model: article, local: true) do |f| %>
    <div>
      <%= f.label :title, 'タイトル' %>
    </div>
    <div>
      <%= f.text_field :title, placeholder: 'タイトル❤️', class: 'text' %>
    </div>
    <div>
      <%= f.label :content, '内容' %>
    </div>
    <div>
      <%= f.text_area :content, placeholder: '内容を入力してね☆', class: 'content' %>
    </div>
    <div>
      <%= f.submit '保存', class: 'btn-primary' %>
    </div>
  <% end %>